In [1]:
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "eminent-hall-293522"

sql = """
SELECT country_name, alpha_2_code
FROM `bigquery-public-data.utility_us.country_code_iso`
WHERE alpha_2_code LIKE 'A%'
"""
df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|██████████| 15/15 [00:00<00:00, 105.50rows/s]

In [2]:
df

            country_name alpha_2_code
0                 Angola           AO
1             Antarctica           AQ
2   United Arab Emirates           AE
3                Armenia           AM
4             Azerbaijan           AZ
5            Afghanistan           AF
6                Austria           AT
7                Albania           AL
8                Andorra           AD
9                  Aruba           AW
10              Anguilla           AI
11   Antigua and Barbuda           AG
12        American Samoa           AS
13             Australia           AU
14             Argentina           AR

In [58]:
sql = """
SELECT county_fips_code, county_name, state_name  FROM `bigquery-public-data.covid19_public_forecasts.county_14d` WHERE prediction_date = "2020-10-24" 
"""

In [84]:
sql = """
SELECT county_fips_code, new_confirmed, county_name, state_name, prediction_date, new_confirmed_ground_truth
FROM `bigquery-public-data.covid19_public_forecasts.county_14d` 
WHERE state_name="Pennsylvania"  AND county_name="Allegheny"
"""
# AND prediction_date="2020-10-24"

In [85]:
df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|██████████| 28/28 [00:00<00:00, 184.20rows/s]

In [96]:
print(df.sort_values(by=['prediction_date']))

   county_fips_code  new_confirmed county_name    state_name prediction_date  \
22            42003            NaN   Allegheny  Pennsylvania      2020-10-09
11            42003            NaN   Allegheny  Pennsylvania      2020-10-10
13            42003            NaN   Allegheny  Pennsylvania      2020-10-11
9             42003            NaN   Allegheny  Pennsylvania      2020-10-12
3             42003            NaN   Allegheny  Pennsylvania      2020-10-13
27            42003            NaN   Allegheny  Pennsylvania      2020-10-14
10            42003            NaN   Allegheny  Pennsylvania      2020-10-15
0             42003            NaN   Allegheny  Pennsylvania      2020-10-16
7             42003            NaN   Allegheny  Pennsylvania      2020-10-17
4             42003            NaN   Allegheny  Pennsylvania      2020-10-18
16            42003            NaN   Allegheny  Pennsylvania      2020-10-19
26            42003            NaN   Allegheny  Pennsylvania      2020-10-20
12            42003            NaN   Allegheny  Pennsylvania      2020-10-21
5             42003            NaN   Allegheny  Pennsylvania      2020-10-22
6             42003     123.638672   Allegheny  Pennsylvania      2020-10-23
18            42003     125.516602   Allegheny  Pennsylvania      2020-10-24
8             42003     127.376953   Allegheny  Pennsylvania      2020-10-25
2             42003     129.217773   Allegheny  Pennsylvania      2020-10-26
15            42003     131.074219   Allegheny  Pennsylvania      2020-10-27
25            42003     132.880859   Allegheny  Pennsylvania      2020-10-28
1             42003     134.676758   Allegheny  Pennsylvania      2020-10-29
21            42003     136.477539   Allegheny  Pennsylvania      2020-10-30
19            42003     138.270508   Allegheny  Pennsylvania      2020-10-31
17            42003     140.058594   Allegheny  Pennsylvania      2020-11-01
14            42003     141.840820   Allegheny  Pennsylvania      2020-11-02
20            42003     143.641602   Allegheny  Pennsylvania      2020-11-03
24            42003     145.415039   Allegheny  Pennsylvania      2020-11-04
23            42003     147.179688   Allegheny  Pennsylvania      2020-11-05

    new_confirmed_ground_truth
22                         NaN
11                        81.0
13                        97.0
9                         82.0
3                         74.0
27                        97.0
10                       139.0
0                        149.0
7                        138.0
4                        116.0
16                        99.0
26                       103.0
12                       119.0
5                        133.0
6                          NaN
18                         NaN
8                          NaN
2                          NaN
15                         NaN
25                         NaN
1                          NaN
21                         NaN
19                         NaN
17                         NaN
14                         NaN
20                         NaN
24                         NaN
23                         NaN

In [88]:
df['county_fips_code'][0]

'42003'

In [89]:

df_population_2019 = pd.read_csv("pop_est_2019.csv")

In [95]:
int(df_population_2019[df_population_2019['fips'] == '01001']['population'])

55869

In [61]:
df.to_csv("county_name.csv", index=False)

In [62]:
df_county_name = pd.read_csv("county_name.csv")

In [63]:
import numpy as np

In [71]:
sorted(df_county_name["state_name"].unique())

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [30]:
df_idx = df.state_name == 'Alaska'

AttributeError: 'DataFrame' object has no attribute 'state_name'

In [39]:
df

   county_fips_code  new_confirmed county_name    state_name
0             42091      56.023438  Montgomery  Pennsylvania
1             42125      24.292969  Washington  Pennsylvania
2             42117       3.564575       Tioga  Pennsylvania
3             42065       1.737228   Jefferson  Pennsylvania
4             42041      24.561279  Cumberland  Pennsylvania
..              ...            ...         ...           ...
62            42105       0.689045      Potter  Pennsylvania
63            42059       1.557465      Greene  Pennsylvania
64            42043      32.747559     Dauphin  Pennsylvania
65            42013      18.997070       Blair  Pennsylvania
66            42015      16.981689    Bradford  Pennsylvania

[67 rows x 4 columns]

In [41]:
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [55]:
df = pd.read_csv("pop_est_2019.csv")
df[1:10]

    fips  population
1  01003      223234
2  01005       24686
3  01007       22394
4  01009       57826
5  01011       10101
6  01013       19448
7  01015      113605
8  01017       33254
9  01019       26196

In [72]:
from datetime import date

In [75]:
today = date.today()

In [82]:
d3 = today.strftime("%Y-%m-%d")

In [83]:
d3

'2020-10-25'

In [97]:
today.weekday()

6

In [98]:
forcast_df = df.sort_values(by=['prediction_date'])

In [99]:
forcast_df

,county_fips_code,new_confirmed,county_name,state_name,prediction_date,new_confirmed_ground_truth
22,42003,NaN,Allegheny,Pennsylvania,2020-10-09,NaN
11,42003,NaN,Allegheny,Pennsylvania,2020-10-10,81.0
13,42003,NaN,Allegheny,Pennsylvania,2020-10-11,97.0
9,42003,NaN,Allegheny,Pennsylvania,2020-10-12,82.0
3,42003,NaN,Allegheny,Pennsylvania,2020-10-13,74.0
27,42003,NaN,Allegheny,Pennsylvania,2020-10-14,97.0
10,42003,NaN,Allegheny,Pennsylvania,2020-10-15,139.0
0,42003,NaN,Allegheny,Pennsylvania,2020-10-16,149.0
7,42003,NaN,Allegheny,Pennsylvania,2020-10-17,138.0
4,42003,NaN,Allegheny,Pennsylvania,2020-10-18,116.0
16,42003,NaN,Allegheny,Pennsylvania,2020-10-19,99.0
26,42003,NaN,Allegheny,Pennsylvania,2020-10-20,103.0
12,42003,NaN,Allegheny,Pennsylvania,2020-10-21,119.0
5,42003,NaN,Allegheny,Pennsylvania,2020-10-22,133.0
6,42003,123.638672,Allegheny,Pennsylvania,2020-10-23,NaN
18,42003,125.516602,Allegheny,Pennsylvania,2020-10-24,NaN
8,42003,127.376953,Allegheny,Pennsylvania,2020-10-25,NaN
2,42003,129.217773,Allegheny,Pennsylvania,2020-10-26,NaN
15,42003,131.074219,Allegheny,Pennsylvania,2020-10-27,NaN
25,42003,132.880859,Allegheny,Pennsylvania,2020-10-28,NaN
1,42003,134.676758,Allegheny,Pennsylvania,2020-10-29,NaN
21,42003,136.477539,Allegheny,Pennsylvania,2020-10-30,NaN
19,42003,138.270508,Allegheny,Pennsylvania,2020-10-31,NaN
17,42003,140.058594,Allegheny,Pennsylvania,2020-11-01,NaN
14,42003,141.840820,Allegheny,Pennsylvania,2020-11-02,NaN
20,42003,143.641602,Allegheny,Pennsylvania,2020-11-03,NaN
24,42003,145.415039,Allegheny,Pennsylvania,2020-11-04,NaN
23,42003,147.179688,Allegheny,Pennsylvania,2020-11-05,NaN

In [106]:
from datetime import date

In [126]:
aaa = datetime.datetime.strptime(str(list(forcast_df['prediction_date'])[0])[:10], '%Y-%m-%d')

In [127]:
# date.today()

datetime.date(2020, 10, 25)

In [118]:
aaa.strftime("%Y-%m-%d")

'2020-10-16'

In [119]:
aaa.weekday()

4

In [125]:
list(forcast_df['prediction_date'])[0]

Timestamp('2020-10-09 00:00:00')

In [128]:
str(list(forcast_df['prediction_date'])[0])[:10]

'2020-10-09'